@font-face {
  font-family: "iconfont"; /* Project id 3173277 */
  src: url('iconfont.woff2?t=1654579079189') format('woff2'),
       url('iconfont.woff?t=1654579079189') format('woff'),
       url('iconfont.ttf?t=1654579079189') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-line:before {
  content: "\e6a2";
}

.icon-biaozhurenwu:before {
  content: "\e6bb";
}

.icon-moxingyuce:before {
  content: "\e6b8";
}

.icon-shujuji:before {
  content: "\e6b7";
}

.icon-shujuzidian:before {
  content: "\e6b9";
}

.icon-zhikongrenwu:before {
  content: "\e6ba";
}

.icon-zhuanjiazhishimoxing:before {
  content: "\e6b6";
}

.icon-moxingliebiao:before {
  content: "\e6b5";
}

.icon-jiqixueximoxing:before {
  content: "\e6b4";
}

.icon-a-Ellipse73:before {
  content: "\e6b3";
}

.icon-arrow-left-s-line:before {
  content: "\e6af";
}

.icon-arrow-up-s-line-up1:before {
  content: "\e6b0";
}

.icon-arrow-down-s-line1:before {
  content: "\e6b1";
}

.icon-arrow-right-s-line1:before {
  content: "\e6b2";
}

.icon-a-inputbox:before {
  content: "\e6ae";
}

.icon-Vector1:before {
  content: "\e6ad";
}

.icon-arrow-down-s:before {
  content: "\e6a3";
}

.icon-more-line:before {
  content: "\e6aa";
}

.icon-file-copy-line:before {
  content: "\e6ab";
}

.icon-file-copy-2-line:before {
  content: "\e6ac";
}

.icon-download-2-line:before {
  content: "\e698";
}

.icon-upload-2-line:before {
  content: "\e699";
}

.icon-file-line:before {
  content: "\e69a";
}

.icon-logout-box-r-line:before {
  content: "\e69b";
}

.icon-login-box-line:before {
  content: "\e69c";
}

.icon-calendar-line:before {
  content: "\e69d";
}

.icon-arrow-left-right-line:before {
  content: "\e69e";
}

.icon-list-unordered:before {
  content: "\e69f";
}

.icon-function-line:before {
  content: "\e6a0";
}

.icon-time-line:before {
  content: "\e6a1";
}

.icon-filter-2-fill:before {
  content: "\e6a4";
}

.icon-refresh-line:before {
  content: "\e6a5";
}

.icon-a-Group100:before {
  content: "\e6a6";
}

.icon-edit-line:before {
  content: "\e6a7";
}

.icon-filter-2-line:before {
  content: "\e6a8";
}

.icon-settings-5-line:before {
  content: "\e6a9";
}

.icon-fullscreen-line:before {
  content: "\e697";
}

.icon-a-1-1:before {
  content: "\e68e";
}

.icon-arrow-left:before {
  content: "\e68f";
}

.icon-arrow-go-forward-line:before {
  content: "\e690";
}

.icon-drag-move-2-line:before {
  content: "\e691";
}

.icon-global-line:before {
  content: "\e692";
}

.icon-zoom-in-line:before {
  content: "\e693";
}

.icon-fullscreen-exit-line:before {
  content: "\e694";
}

.icon-shape-line:before {
  content: "\e695";
}

.icon-zoom-out-line:before {
  content: "\e696";
}

.icon-lock-line:before {
  content: "\e68d";
}

.icon-arrow-up-down-line:before {
  content: "\e68b";
}

.icon-add-line:before {
  content: "\e689";
}

.icon-user-3-line:before {
  content: "\e68a";
}

.icon-fire-line:before {
  content: "\e680";
}

.icon-file-list-2-line:before {
  content: "\e67d";
}

.icon-delete-bin-line:before {
  content: "\e67f";
}

.icon-arrow-down-s-fill-down:before {
  content: "\e679";
}

.icon-arrow-right-s-fill-right:before {
  content: "\e678";
}

.icon-stack-line:before {
  content: "\e677";
}

.icon-apps-2-line:before {
  content: "\e673";
}

.icon-wenti:before {
  content: "\e676";
}

.icon-peizhizhongxin:before {
  content: "\e675";
}

.icon-gerengongzuotai1:before {
  content: "\e674";
}

.icon-shujujiguanli1:before {
  content: "\e672";
}

.icon-lingdang1:before {
  content: "\e670";
}

.icon-moxingxuqiuguanlibeifen:before {
  content: "\e66e";
}

.icon-fangdajing4:before {
  content: "\e671";
}

.icon-menu-fold-fill:before {
  content: "\e663";
}

.icon-cube-online:before {
  content: "\e664";
}

.icon-liuchengmoxing:before {
  content: "\e667";
}

.icon-zidianguanli:before {
  content: "\e669";
}

.icon-shujukanban:before {
  content: "\e66c";
}

